@import url("header.css"); /*Estilos do cabeçalho*/
@import url("banner.css"); /*Estilos do banner*/
@import url("carrossel.css"); /*Estilos do carrossel*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*Poppins*/

:root {
    --cor-background-primaria: #EBECEE;
    --cor-background-secundaria: #FFFFFF;
    --cor-principal: #002F52;
    --cor-principal-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --cor-secundaria: #EB9B00;
    --cor-terciaria: #000000;

    --font-principal: "Poppins", sans-serif;
}

body {
    color: var(--cor-principal);
    background-color: var(--cor-background-primaria);
    font-family: var(--font-principal);
}
